.App {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}